.carousel-caption{
	width: 300px;
	z-index: 10;
	color: #fff;
	text-align: center;
	top: 50%;
	right: 85%;
	bottom: auto;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
.navbar {
	background-color: pink;
	border-color: #425766;
}
.footer {
 left: 0;
 bottom: 0;
 width: auto;
 background-color: pink;
 color: black;
 text-align: center;
}
/*body {
	width: 70%;
	height: 10%;
}
*/