/*
fieldset{
	border: 2px solid pink;
	align-self: : center;
	width: 30%;
	text-align: center;
	background-image: url(ima.jpg); 
	background-position: center;
	background-repeat: repeat-y;
}
figcaption{
	color: pink;
	font-weight: bold;
}
form{
	text-align: center;
}
h1{
	color: pink;
}
button{
	border-radius: 5px;
	background-color: pink;
	border-style: none;
}
.carousel-caption{
	width: 300px;
	z-index: 10;
	color: #fff;
	text-align: center;
	top: 50%;
	right: 85%;
	bottom: auto;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

.navbar {
	background-color: pink;
	border-color: #425766;
}*/

body{
	text-align: center;
	width: 100%;
	height: auto;
	margin: auto;
	background-color: black;
}
.gallery{
display: flex;
flex-wrap: wrap;
align-items: flex-start;
justify-content: space-around;

}
.gallerys{
	padding-left: 90px;
}

div.gallery {
  margin: 5px;
  border: 1px solid pink;
  float: left;
  width: 180px;

}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: 400px;

}

div.desc {
  padding: 15px;
  text-align: center;
  color: pink;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: pink;
  color: black;
  text-align: center;
  height: 30px;
}